.containerHShowTime {
  width: 100%;
  min-height: 25%;
  height: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.linkShowTime {
  font-size: 2rem;
  margin-left: 5%;
  text-decoration: none;
}