html {
  font-size: 12px;
  font-family: Montserrat;
}

a {
  text-decoration: none
}

body {
  font-size: 1rem;
}

html, body {
  height: 100%;
  margin: 0;
  background-color: #FFF3CB;
}

html, body > div {
  height: 100%;
  margin: 0;
}

label, p {
  min-height: 0vw
}