@font-face {
  font-family: "Gargoyle";
  src: url("../../fonts/aveMaria/gargoyles_normal/Gargoyles.ttf");
}

.flexContainerHeaderAve {
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100%;
  height: 25%;
}

.textHeaderAve {
  font-family: Gargoyle;
  align-self: center;
  color: black;
  font-size: 6rem;
  font-weight: 700;
}