@font-face {
  font-family: "Gargoyle";
  src: url("../../fonts/aveMaria/gargoyles_normal/Gargoyles.ttf");
}

.containerLAve {
  display: flex; 
  flex-direction: row; 
  height: 100%; 
  width: 100%;
}

.invitationAve {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  font-family: Gargoyle;
  font-size: 2rem;
  text-align: center;
}

.imageContainerAve {
  width: 25%;
  height: 100%;
  overflow: hidden;
}

.imageContainerAve:last-child {
  transform: scaleX(-1);
  background-position: left;
}

.landingImageAve {
  background-image: url("../../svg/aveMaria/Knight.svg");
  width: 100%;
  height: 100%;
  max-width: 100;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;
  padding-top: 0px;
  display: inline-block;
}

.startButtonAve {
  margin-top: 8%;
  font-size: 3rem;
  height: 20%;
  width: 40%;
  border-radius: 999px;
  border: 1px solid;
  display: flex;
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-content: center;
}

.startButtonAve:hover {
  color: red;
  background-color: black;
}